extends ./layout

block content
  article
    header.segment.address
      block address
    block about
    block skills
    block experience
    block education
    block languages
    block interests
    block references
