.container {
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  margin: 48px auto;
  width: 75%;
}

.segment {
  box-shadow: rgba(139, 69, 19, 0.14902) 0px 2px 1px -1px;
  padding: 16px 8px;
}

.basics {
  align-items: center;
  display: flex;

  .picture {
    border-radius: 40px;
    margin: 0 8px;
  }

  .title {
    margin: 0 8px;
  }
}

.address {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  .qr {
    margin: 0 8px;
  }

  .profiles {
    margin: 0 8px;
    .fa {
      margin-right: 8px;
      text-align: center;
      width: 16px;
    }
  }

  .so-flair-container {
    align-self: flex-end;
    overflow: hidden;
    width: 150px;

    .so-flair {
      left: -58px;
    }
  }
}

.article-section {
  .section-icon {
    margin: 0 8px;
    width: 24px;
  }

  .section-title{
    margin: 0 8px;
  }

  .section-body {
    margin-left: 48px;
  }
}

.experience, .education {
  .date {
    float: right;
    margin-right: 8px;
  }
}

.education {
  .gpa {
    float: right;
    margin-right: 8px;
  }
}

.skills, .languages, .interests {
  li {
    display: inline;

    &::after {
      content: ", ";
    }
    &:last-child::after {
      content: "";
    }
  }
}
